<mat-toolbar color="primary">
  <span class="material-icons" style="margin-right: 10px;">account_balance</span>
  <span>My Bank</span>
  <span class="ms-auto"></span>
  <button mat-flat-button color="primary" routerLink="/cliente" style="cursor: pointer;">Clientes</button>
  <button mat-flat-button color="primary"  routerLink="/conta" style="cursor: pointer;">Contas</button>
  <button mat-flat-button color="primary"  routerLink="/conta/deposito" style="cursor: pointer;">Depósitos</button>
  <button mat-flat-button color="primary" routerLink="/conta/saque" style="cursor: pointer;">Saques</button>
  <button mat-flat-button color="primary" >Transferências</button>
</mat-toolbar>
